{% extends 'base.html' %}

{% block title %}
{{ block.super }}
&ndash; cv
{% endblock %}

{% block body_block %}
    <div class="row cv_wrap">
        <div class="col-md-12">
            <div class="cv_header">
                <div class="row">
                    <div class="col-md-8 name_field">
                        <div class="row">
                            <div class="col-md-3 pull-left img_col">
                                <img src="/static/images/me.jpg" class="cv_image img-thumbnail">
                            </div>
                            <div class="col-md-9 pull-left">
                                <h1>Håkon Ødegård Løvdal</h1>
                                <h4>Informatikkstudent</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 address_field">
                         <table>
                            <tbody><tr>
                                    <td>Adresse</td>
                                    <td>Jonsvannsveien 51B</td>
                                </tr>
                                <tr>
                                    <td>Fødselsdato</td>
                                    <td>7. mai 1992</td>
                                </tr>
                                <tr>
                                    <td>Tlf</td>
                                    <td>940 50 008</td>
                                </tr>
                                <tr>
                                    <td>Epost</td>
                                    <td><a href="mailto:me@hakloev.no">me@hakloev.no</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <a class="btn btn-block btn-success cvbutton" href="/static/files/cv.pdf">Last ned som PDF</a>
                    </div>
                </div>
                <hr>
            </div>
            <div class="cv_body">
                <div class="row">
                    <div class="col-md-12">
                        <h2>
                            <span>Utdanning</span>
                        </h2>
                        <ul class="exp_list">
                            {% for edu in educations %}
                                <li>
                                    <span class="started">{{ edu.started }} - {% if edu.current %}nå{% else %}{{ edu.ended }}{% endif %}</span>
                                    <h4 class="link"><a href="{{ edu.url }}">{{ edu.school }}</a></h4>
                                    <p class="role">{{ edu.description }}</p>
                                </li>
                            {% endfor %}
                       </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2>
                            <span>Arbeidserfaring</span>
                        </h2>
                        <ul class="exp_list">
                            {% for work in works %}
                                <li>
                                <span class="started">{{ work.started }}{% if work.current %} - nå{% else %}{% if not work.ended = work.started %} - {{ work.ended }}{% endif %}{% endif %}</span>
                                    <h4 class="link"><a href="{{ work.url }}">{{ work.work }}</a></h4>
                                    <p class="role"><i>{{ work.position }}</i>, &nbsp; {{ work.description }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>   
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2>
                            <span>Verv</span>
                        </h2>

                        <ul class="exp_list">
                            {% for org in orgs %}
                                <li>
                                <span class="started">{{ org.started }}{% if org.current %} - nå{% else %}{% if not org.ended = org.started %} - {{ org.ended }}{% endif %}{% endif %}</span>
                                    <h4 class="link"><a href="{{ org.url }}">{{ org.organization }}</a></h4>
                                    <p class="role"><i>{{ org.position }}</i>, &nbsp; {{ org.description }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2>
                            <span>Kvalifikasjoner</span>
                        </h2>
                        <div class="non_list_content">
                            <h4>Nøkkelkvalifikasjoner</h4>
                            <ul>
                                <li>Endringsvillig</li>
                                <li>Utadvendt</li>
                                <li>Selvstendig</li>
                                <li>Tar ansvar</li>
                                <li>Positiv</li>
                                <li>Lærer raskt</li>
                            </ul>

                            <h4>Datakompetanse</h4>
               
                            <h5>God kompetanse</h5>
                            <ul>
                                <li>Linux</li>
                                <li>Mac OS X</li>
                                <li>Windows XP, 7</li>
                            </ul>
                            <h5>Kompetanse</h5>
                            <ul>
                                <li>Unix/BSD</li>
                                <li>Python</li>
                                <li>Java</li>
                                <li>Latex</li>
                                <li>HTML og CSS</li>
                                <li>nginx</li>
                                <li>MySQL</li>
                                <li>Microsoft Office</li>
                            </ul>
                            <h4>Språk</h4>
                            <ul>
                                <li>Norsk, bokmål (morsmål)</li>
                                <li>Engelsk (flytende skriftlig og muntlig)</li>
                            </ul>
                            
                            <h4>Førerkort/Kompetansebevis</h4>
                            <ul>
                                <li>Klasse B</li>
                                <li>Klasse M</li>
                                <li>Truckfører, klasse T1, T2 og T4</li>
                            </ul>
                        </div>
                    </div>
                </div>    
                <div class="row">
                    <div class="col-md-12">
                        <h2>
                            <span>Interesser</span>
                        </h2>
                        
                        <div class="non_list_content interest">
                            <ul>
                            <li>Politikk</li>
                            <li>Historie</li>
                            <li>Ølbrygging</li>
                            <li>Musikk</li>
                            <li>Trening</li>
                            <li>Venner</li>
                            <li>Linjeforeningen</li>
                            </ul>
                        </div>
                        <h2>
                            <span class="reference">Referanser oppgis ved behov</span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
