{% extends 'base.html' %}

{% load filters %}

{% block title %}
{{ block.super }}
&ndash; tasting 
{% endblock %}

{% block content %}
<div class="grid">
    <div class="unit whole">
            {% if breadcrumbs %}
            <ol class="breadcrumb">
                {% for name, link in breadcrumbs %}
                    {% if not forloop.last %}
                        <li><a href="{{ link }}">{{ name }}</a></li>
                    {% else %}
                        <li>{{ name }}</li>
                    {% endif %}
                {% endfor %}
            </ol>
        {% endif %}
    </div>
</div>
<div class="grid">
    <div class="unit whole">
        <div class="cube cube-default">
            <div class="cube-header">
                <h2 class="cube-title">Beers</h2>
            </div>
            <div class="table-responsive">
                <table class="beer-table monospace-table">
                    <thead>
                        <tr>
                            <th>Number</th>
                            <th>Code</th>
                            <th>ID</th>
                            <th>Beer</th>
                            <th>Brewery</th>
                            <th>Type</th>
                            <th>ABV</th>
                            <th>IBU</th>
                            <th>Ratings</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for beer in beers|shuffle_beers %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ beer.code }}</td>
                                <td>{{ beer.id }}</td>
                                <td>{{ beer.name }}</a></td>
                                <td>{{ beer.brewery }}</td>
                                <td>{{ beer.style }}</td>
                                <td>{{ beer.abv }}</td>
                                <td>{{ beer.ibu }}</td>
                                <td>{{ ratings|get_number_of_ratings:beer.id }}
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
