{% extends 'base.html' %}

{% load filters %}

{% block title %}
{{ block.super }}
&ndash; beer tasting &ndash; statistics &ndash; {{ beer }}
{% endblock %}

{% block content %}
<div class="grid">
    <div class="unit whole">
        {% if breadcrumbs %}
            <ol class="breadcrumb">
                {% for name, link in breadcrumbs %}
                    {% if not forloop.last %}
                        <li><a href="{{ link }}">{{ name }}</a></li>
                    {% else %}
                        <li>{{ name }}</li>
                    {% endif %}
                {% endfor %}
            </ol>
        {% endif %}
    </div>
</div>
<div class="grid">
    <div class="unit two-thirds">
        {% for stat in stats %}
            <div class="beer-rating">
                Karakter: <strong>{{ stat.rating|floatformat:0 }}</strong>
                <br>
                <br>
                {{ stat.comment }}
            </div>
        {% endfor %}
    </div>
    <div class="unit one-third">
        <div class="panel panel-default">
            <div class="panel-header">
                <h2 class="panel-title">Beer statistics</h2>
            </div>          
            <div class="panel-body">
                {% for info in beerinfo %}
                    <p>Beer: {{ info.beer__name}}</p>
                    <p>Brewery: {{ info.beer__brewery__name }}</p>
                    <p><strong>Avg.: {{ info.score|floatformat:2 }}</strong></p>
                    <p>Events: {{ info.events }}</p>
                    <p>Ratings: {{ info.rates }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
