{% extends 'base.html' %}

{% load filters %}

{% block title %}
{{ block.super }}
&ndash; beer tasting &ndash; statistics &ndash; {{ beer }}
{% endblock %}

{% block content %}
<div class="grid">
    <div class="unit whole">
        {% if breadcrumbs %}
            <ol class="breadcrumb">
                {% for name, link in breadcrumbs %}
                    {% if not forloop.last %}
                        <li><a href="{{ link }}">{{ name }}</a></li>
                    {% else %}
                        <li>{{ name }}</li>
                    {% endif %}
                {% endfor %}
            </ol>
        {% endif %}
    </div>
</div>
<div class="grid">
    <div class="unit two-thirds">
        {% for stat in stats %}
            <div class="beer-rating">
                Karakter: <strong>{{ stat.rating|floatformat:0 }}</strong>
                <br>
                <br>
                {{ stat.comment }}
            </div>
        {% endfor %}
    </div>
    <div class="unit one-third">
        <div class="cube cube-default">
            <div class="cube-header">
                <h2 class="cube-title">Beer statistics</h2>
            </div>          
            <div class="cube-body">
                <div class="cube-row">
                    <div class="panel-body">
                        {{ beer }}<br><br>
                        Avg: <span>{{ beerinfo.0.score }}</span>
                    </div>
                </div>
                <div class="cube-container">
                    <div class="cube-single">
                        <span>{{ beerinfo.0.rates }}</span><br>ratings:
                    </div>
                    <div class="cube-single">
                        <span>{{ beerinfo.0.events }}</span><br>events:
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
