{% extends 'base.html' %}

{% load filters %}

{% block title %}
{{ block.super }}
&ndash; beer tasting &ndash; statistics &ndash; overview
{% endblock %}

{% block content %}
 <div class="grid">
        <div class="unit whole">
            <h1>Overview</h1>
        </div>
    </div>
<div class="grid">
    <div class="unit whole">
        {% if breadcrumbs %}
            <ol class="breadcrumb">
                {% for name, link in breadcrumbs %}
                    {% if not forloop.last %}
                        <li><a href="{{ link }}">{{ name }}</a></li>
                    {% else %}
                        <li>{{ name }}</li>
                    {% endif %}
                {% endfor %}
            </ol>
        {% endif %}
    </div>
</div>
<div class="grid">
    <div class="unit whole">
        <div class="panel panel-default">
            <div class="panel-header">
                <h2 class="panel-title">Ratings</h2>
            </div>
            <div class="panel-content">
                <div class="table-responsive">
                    <table class="table monospace-table">
                        <thead>
                            <tr>
                                <th>Beer</th>
                                <th>Brewery</th>
                                <th>Avg.</th>
                                <th>Ratings</th>
                                <th>Events</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for beer in beers %}
                                <tr>
                                    <td><a href="{% url 'tasting:beer_stats' beer.beer %}">{{ beer.beer__name }}</a></td>
                                    <td>{{ beer.beer__brewery__name }}</td>
                                    <td><strong>{{ beer.score|floatformat:2 }}</strong></td>
                                    <td>{{ beer.rates }}</td>
                                    <td>{{ beer.events }}</td>
                               </tr>
                           {% endfor %}
                        </tbody>
                    </table>
                </div>
           </div>
       </div>
    </div>
</div>
{% endblock %}
