{% extends 'base.html' %}

{% block title %}
{{ block.super }}
&ndash; tasting 
{% endblock %}

{% block content %}
<div class="grid">
    <div class="unit whole">
        {% if breadcrumbs %}
            <ol class="breadcrumb">
                {% for name, link in breadcrumbs %}
                    {% if not forloop.last %}
                        <li><a href="{{ link }}">{{ name }}</a></li>
                    {% else %}
                        <li>{{ name }}</li>
                    {% endif %}
                {% endfor %}
            </ol>
       {% endif %}
   </div>
</div>
<div class="grid">
    <div class="unit two-thirds">
        {% if event.finished %}
            {% if ratings %}
                <h2>Your ratings:</h2>
                {% for rating in ratings %}
                    <div class="beer-rating">
                        <h3>{{ rating.beer }}:</h3><br>
                        Karakter: <strong>{{ rating.rating|floatformat:0 }}</strong>
                        <br>
                        <br>
                        {% if rating.comment %}
                        {{ rating.comment }}
                        {% else %}
                            <strong>You gave no comment.</strong>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <h2>You haven't rated any beers during this event.</h2>
            {% endif %}
        {% else %}
            {% if event.beers %}
                <h2>Welcome to this beer tasting event</h2>
                <div class="beer-rating">
                    {% if event.beers.all|length > 1 %}
                        It's <strong>{{ event.beers.all|length }}</strong> beers on the menu today.
                    {% else %}
                        It's <strong>{{ event.beers.all|length }}</strong> beer on the menu today.
                    {% endif %}
                    <br>
                    {% if ratings %}
                        {% if ratings|length > 1 %}
                            You have rated <strong>{{ ratings|length }}</strong> beers.
                        {% else %}
                            You have rated <strong>{{ ratings|length }}</strong> beer.
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
    </div>
    {% include 'beertasting/sidebar.html' %}
</div>
{% endblock %}

{% block scriptblock %}
<script src="/static/js/beertasting.js"></script>
{% endblock %}
