{% extends 'base.html' %}

{% block title %}
{{ block.super }}
&ndash; ølsmaking &ndash; {% if event %}{{ event.name }}{% else %}smaksevent{% endif %}
{% endblock %}

{% block body_block %}
 <div class="row">
        <div class="col-md-8">
            <div class="page-header">
                <h1>Ølsmaking <small>&dash; {% if event %}{{ event.name }}{% else%}smaksevent{% endif %}</small></h1>
            </div>
        </div>
</div>
<div class="row">
    <div class="col-md-8">
        {% if event.finished %}
            <h4>STATISTIKK LINK HER</h4>
            {% if beers %}
                <h3>Oversikt:</h3>
                {% for beer in beers.all %}
                <p><a href="{% url 'beer_rating' event.id beer.id %}">Øl: {{ beer.name }}: {{ beer.brewery }} ({{ beer.id }})</a></p>
                {% endfor %}
            {% endif %}
        {% else %}
            {% if beers %}
                <h3>Øl å smake på:</h3>
                {% for beer in beers.all %}
                    <p><a href="{% url 'beer_rating' event.id beer.id %}">Øl: {{ beer.id }}</a></p>
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
