{% extends 'base.html' %}

{% block title %}
{{ block.super }}
&ndash; ølsmaking
{% endblock %}

{% block body_block %}
 <div class="row">
        <div class="col-md-8">
            <div class="page-header">
                <h1>Ølsmaking <small>&dash; {% if event %}{{ event.name }}{% endif %}</small></h1>
            </div>
        </div>
</div>
<div class="row">
    <div class="col-md-8">
        {% if beers %}
            {% for beer in beers.all %}
            <p>Øl: {{ beer.id }} ({{ beer.name }})</p>
            {% endfor %}
        {% endif %}
        {% if ratings %}
            {% for rating in ratings %}
                <p>{{ rating.beer }}</p>
                <p>{{ rating.user }}</p>
                <p>{{ rating.comment }}</p>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
