{% extends 'base.html' %}

{% block title %}
{{ block.super }}
&ndash; tasting
{% endblock %}

{% block content %}
<div class="grid">
    <div class="unit whole">
        <div class="grid">
            {% if breadcrumbs %}
            <ol class="breadcrumb">
                {% for name, link in breadcrumbs %}
                    {% if not forloop.last %}
                        <li><a href="{{ link }}">{{ name }}</a></li>
                    {% else %}
                        <li>{{ name }}</li>
                    {% endif %}
                {% endfor %}
            </ol>
            {% endif %}
         </div>
         <div class="grid">
            <div class="unit two-thirds">
                <div class="grid">
                    <div class="unit whole">
                        <section class="beer-events">
                            {% if stats.ongoing  %}
                                <h2>Currently ongoing event{% if stats.ongoing.count > 1 %}s{% endif %}:</h2>
                                {% for event in stats.ongoing %}
                                    <div class="beer-event">
                                        <a href="{{ event.get_absolute_url }}">{{ event.name }}</a> &ndash; 
                                        <small>{{ event.date|date:"d.m.Y" }}</small>
                                   </div>
                                {% endfor %}
                            {% else %}
                                <h2>No ongoing events</h2>
                            {% endif %}
                        </section>
                    </div>
                </div>
                <div class="grid">
                    <div class="unit whole">
                        <section class="beer-events">
                            {% if stats.done %}
                            <h2>Finished event{% if stats.done.count > 1 %}s{% endif %}:</h2>
                                {% for event in stats.done %}
                                    <div class="beer-event">
                                        <a href="{{ event.get_absolute_url }}">{{ event.name }}</a> &ndash;
                                        <small>{{ event.date|date:"d.m.Y" }}</small>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <h2>No completed events</h2>
                            {% endif %}
                        </section>
                    </div>
                </div>
            </div>
            <div class="unit one-third">
                <div class="cube cube-default">
                    <div class="cube-header beer-stats-toggle">
                        <h2 class="cube-title">Statistics:</h2>
                    </div>
                    <div class="cube-body beer-stats-widget">
                        <div class="cube-container">
                            <div class="cube-single">
                                <span>{{ stats.beers }}</span><br>beers
                            </div>
                            <div class="cube-single">
                                <span>{{ stats.breweries }}</span><br>breweries
                            </div>
                        </div>
                        <div class="cube-container">
                            <div class="cube-single">
                                <span>{{ stats.events }}</span><br>events
                            </div>
                            <div class="cube-single">
                                <span>{{ stats.ratings }}</span><br>ratings
                            </div>
                        </div>
                        <div class="cube-row">
                            <div class="panel-body">
                                <b>most liked : </b>{{ stats.most_liked }}<br>
                                <b>most hated : </b>{{ stats.most_hated }}<br>
                                <b>most rated : </b>{{ stats.most_rated }}<br>
                                <br>
                                <b>largest brewery :</b>  
                                    {% for brewery in stats.most_beers_brewery %}
                                        {{ brewery }}
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% if request.user.id %}
                  <a class="button button-default" href="{% url 'tasting:user_ratings' request.user.id %}">My ratings</a>
                {% endif %}
                <a class="button button-default" href="{% url 'tasting:beer_overall' %}">Top 10</a>
                <a class="button button-default" href="{% url 'tasting:beer_list' %}">All beers</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scriptblock %}
    <script src="/static/js/beertasting.js" type="text/javascript"></script>
{% endblock %}
