{% extends 'base.html' %}

{% block title %}
{{ block.super }}
&ndash; ølsmaking &ndash; rating
{% endblock %}

{% block body_block %}
 <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Ølsmaking <small>&ndash; detaljert visning</small></h1>
            </div>
        </div>
</div>
<div class="row">
    <div class="col-md-8">
        <ol class="breadcrumb">
            <li><a href="/beertasting/">Arrangementer</a></li>
            <li><a href="{{ event.get_absolute_url }}">{{ event.name }}</a></li>
            <li class="active">{{ beerid }}</li>
        </ol>
        {% if event.finished %}
            {% if rating %}
                <h6>Du ga {{ rating.beer }} følgende:</h6>
                <p>{{ rating.comment }}, {{ rating.rating }}</p>
            {% else %}
                <h4>Du ga ikke denne ølen noen karakter</h4>
            {% endif %} 
        {% else %}
            <form class="form-horizontal" action="" method="POST">
                {% csrf_token %}
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-1 control-label" for="comment">Kommentar</label>
                        <div class="col-md-12">
                            <textarea class="form-control" id="comment" name="comment" maxlength=350 rows=5>KAN LEGGE INN BEER COMMENT I DENNE HVIS TILSTEDE</textarea>
                        </div>
                    </div>

                <input class="btn btn-lg btn-success btn-block" type="submit" value="Gi vurdering"/>
                <input type="hidden" name="next" value="{{ next }}">
                </fieldset>
            </form>
            {% if rating %}
                <h4>Du har gitt følgende så langt:</h4>
                <p>{{ rating.comment }}, {{ rating.rating }}</p>
            {% else %}
                <h4>Gi ølen en karkter er du snill!</h4>
            {% endif %}
            {% endif %}
    </div>
    {% include 'beertasting/sidebar.html' %}
</div>
{% endblock %}
