{% load filters %}

<div class="unit one-third">
    <div class="cube cube-default">
        <div class="cube-header">
            <h3 class="cube-title">Menu for {{ request.user.username }}:</h3>
        </div>
        <div class="panel-body">
            {% if event.finished %}
                <a href="{% url 'tasting:event_stats' event.id %}" class="button button-default button-block">Result</a>
                {% if event.beers.all|length > 0 %}
                    {% for beer in event.beers.all %}
                       <p><a href="{% url 'tasting:beer_rating' event.id beer.code %}">{{ beer }}</a></p>
                    {% endfor %}
                {% else %}
                {% endif %}
            {% else %}
                <progress value="{{ ratings.count|get_percent }}" max="{{ event.beers.all.count|get_percent }}"><span>
                {{ ratings.count|get_how_long:event.beers.all.count }}%
                </span>%</progress>
                {% if event.beers.all|length > 0 %}
                    {% for beer in event.beers.all|shuffle_beers %}
                        {% autoescape off %}
                        {% if beer.code == beercode %}<p>{% else %}<p>{% endif %}{{ ratings|print_rating_icon:beer.id }} &ndash; <a href="{% url 'tasting:beer_rating' event.id beer.code %}">Beer {{ forloop.counter}}</a></p>
                        {% endautoescape %}
                    {% endfor %}
                {% else %}
                    <p>No beers available.</p>
                {% endif %}
            {% endif %}
        </div>
        {% if user.is_superuser %}
        <div class="cube-header beer-admin-toggle">
            <h3 class="cube-title">Administrator:</h3>
        </div>
        <div class="panel-body beer-admin-panel" style="display:none">
            <a href="{% url 'tasting:event_list' event.id %}" class="button button-default button-block">Beer list</a>
            <p>Event-ID: {{ event.id }}</p>
            {% if beer %}
                <p>Beer code: {{ beer.code }}</p>
                <p>Beer-ID: {{ beer.id }}</p>
                <p>Beer: {{ beer }}</p>
            {% endif %}
            <p>Date: {{ event.date|date:"d.m.Y" }}</p>
            <p>Total beers: {{ event.beers.all|length }}</p>
            </div>
        {% endif %}
    </div>
</div>
