{% extends 'base.html' %}

{% load filters %}

{% block title %}
{{ block.super }}
&ndash; beer tasting &ndash; results &ndash; {% if event %}{{ event.name }}{% else %}event{% endif %}
{% endblock %}

{% block content %}
<div class="grid">
    <div class="unit whole">
        {% if breadcrumbs %}
            <ol class="breadcrumb">
                {% for name, link in breadcrumbs %}
                    {% if not forloop.last %}
                        <li><a href="{{ link }}">{{ name }}</a></li>
                    {% else %}
                        <li>{{ name }}</li>
                    {% endif %}
                {% endfor %}
            </ol>
        {% endif %}
    </div>
</div>
<div class="grid">
    <div class="unit two-thirds">
        <div class="panel panel-default">
            <div class="panel-header">
                <h3 class="panel-title">Results for {{ event.name }}</h3>
            </div>
            <div class="table-responsive">
                <table class="table monospace-table">
                    <thead>
                        <tr>
                            <th>Avg.</th>
                            <th>Beer</th>
                            <th>Brewery</th>
                            <th>Type</th>
                            <th>ABV</th>
                            <th>IBU</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rating in ratings %}
                            <tr>
                                <td><strong>{{ rating.score|floatformat:2 }}</strong></td>
                                {% autoescape off %}
                                    {{ beers|print_beer_info:rating.beer }}
                                {% endautoescape %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% include 'beertasting/sidebar.html' %}
</div>
{% endblock %}
{% block scriptblock %}
<script src="/static/js/beertasting.js"></script>
{% endblock %}
