{% extends 'base.html' %}

{% load filters %}

{% block title %}
{{ block.super }}
&ndash; ølsmaking &ndash; resultater &ndash; {% if event %}{{ event.name }}{% else %}smaksevent{% endif %}
{% endblock %}

{% block body_block %}
 <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Ølsmaking <small>&dash; {% if event %}{{ event.name }}{% else%}smaksevent{% endif %}</small></h1>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-md-12">
        {% if breadcrumbs %}
        <ol class="breadcrumb">
            {% for name, link in breadcrumbs %}
                {% if not forloop.last %}
                    <li class="active"><a href="{{ link }}">{{ name }}</a></li>
                {% else %}
                    <li class="active">{{ name }}</li>
                {% endif %}
            {% endfor %}
        </ol>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <h3 class="ratingheader">Resultater:</h3>
        <div class="panel panel-default">
            <div class="panel-heading">Oversikt</div>
                <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Snitt</th>
                            <th>Øl</th>
                            <th>Bryggeri</th>
                            <th>Type</th>
                            <th>ABV</th>
                            <th>IBU</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rating in ratings %}
                            <tr>
                                <td><strong>{{ rating.score|floatformat:2 }}</strong></td>
                                {% autoescape off %}
                                    {{ beers|print_beer_info:rating.beer }}
                                {% endautoescape %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% include 'beertasting/sidebar.html' %}
</div>
{% endblock %}
{% block script_block %}
<script src="/static/js/beertasting.js"></script>
{% endblock %}
