{% extends 'base.html' %}

{% block title %}
{{ block.super }}
&ndash; beer tasting &ndash; {{ request.user.username }}
{% endblock %}

{% block content %}
<div class="grid">
    <div class="unit whole">
        {% if breadcrumbs %}
            <ol class="breadcrumb">
                {% for name, link in breadcrumbs %}
                    {% if not forloop.last %}
                        <li><a href="{{ link }}">{{ name }}</a></li>
                    {% else %}
                        <li>{{ name }}</li>
                    {% endif %}
                {% endfor %}
            </ol>
       {% endif %}
   </div>
</div>
<div class="grid">
    <div class="unit whole">
        <div class="grid">
            {% if not ratings %}
                <h2>{{ request.user.username }} hasn't given any ratings.</h2>
            {% else %}
                <h2>Ratings by {{ request.user.username }}</h2>
                {% for rating in ratings %}
                    <div class="unit half">
                        <div class="beer-rating">
                            <strong>{{ rating.beer }} &ndash; {{ rating.event }}:</strong>
                            <br>
                            Grade: <strong>{{ rating.rating|floatformat:0 }}</strong>
                            <br>
                            <br>
                            {% if rating.comment %}
                                {{ rating.comment }}
                            {% else %}
                                No comment given.
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
