@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,700,300,400);
@import url(https://fonts.googleapis.com/css?family=Raleway:200);

/* Variables */
/* Colors based on Game Bookers */
@white: #fff;
@orange: #FF9900;
@darkgrey: #424242;
@lightgrey: #E9E9E9;
@grey: #BCBCBC;
@blue: #3299BB;

/* Colors based on Cheer up emo kid */
@slate: #556270;
@pacifica: #4ECDC4;
@apple: #C7F464;
@pink: #FF6B6B;
@darkpink: #C44D58;

@navheight: 3em;

/* Mixins */
.transition(@transition) {
    -webkit-transition: @transition;
    -moz-transition: @transition;
    -ms-transition: @transition;
    -o-transition: @transition;
    transition: @transition;
}

.panel(@color) {
    border-color: @color;
    .panel-header {
        background-color: @color;
        border-color: @color;
    }
    .panel-footer {
        background-color: @color;
        border-color: @color;
    }
}

.button(@color) {
    background-color: @color;
    &:hover {
       background-color: darken(@color, 10%); 
    }
}

.alert(@color) {
    background-color: @color;
}

html, body {
    background-color: lighten(@lightgrey, 4%);
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

a {
    text-decoration: none;
    color: @white;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
}

a, p, blockquote {
    font-family: "Raleway", sans-serif;
    font-weight: 200;
}

hr {
    margin-top: 21px;
    margin-bottom: 21px;
    margin-left: 20px;
    margin-right: 20px;
    border-top: 1px solid lighten(@darkpink, 0%);
}

blockquote {
    margin: 16px 0;
    padding-right: 15px;
    padding-left: 0;
    border-right: 3px solid @pacifica;
    border-left: 0;
    text-align: right;
    display: inline-block;
    small {
        display: block;
        font-size: 80%;
    }
}

#main-wrapper {
    margin: 10px 50px auto;
}

#main-header {
    position: relative;
    background: @slate;
    position: relative;
    z-index: 9999;
    font-size: 20px;
    #main-nav {
        height: @navheight;
        text-align: center;
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: inline-block;
            line-height: 1;
            .main-nav-item {
                float: left;
                border-top: 5px solid @apple;
                .transition(~"all .18s ease-in");
                &:hover {
                    border-top-color: darken(@apple, 20%);
                    background-color: lighten(@slate, 10%);
                }
                a {
                    font-size: 20px;
                    font-weight: 300;
                    line-height: @navheight;
                    display: block;
                    margin-top: -5px; /* negative of border on main-nav-item */
                    padding: 0 20px;
                    text-transform: lowercase;
                }
            }
            .main-nav-item-active {
                border-top-color: @pacifica;
            }
        }
    }
}



footer {
    padding-top: 32px;
    padding-bottom: 50px;
}

footer a {
    color: @slate;
    .transition(~"color .18s ease-in");
    &:hover {
        color: @pacifica;
    }
}

/* Panels */
.panel {
    margin-bottom: 20px;
    background-color: @white;
    border: 1px solid transparent;
}

.panel-default {
    color: @white;
    .panel(@pacifica);
}

.panel-purple {
    color: @white;
    .panel(@darkpink);
}

.panel-green {
    color: @slate;
    .panel(@apple);
}

.panel-header {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    color: inherit;
}

.panel-body {
    padding: 15px;
}

.panel-footer {
    padding: 5px 10px;
    border-bottom: 1px solid transparent;
}

/* Buttons */
.button {
    display: inline-block;
    padding: 8px 14px;
    margin-bottom: 3px; /* To get spacing on break */
    border: 0;
    border-radius: 4px;
    color: @white;
    font-size: 20px;
}

.button-default {
    .button(@slate); 
}

.button-blue {
    .button(@pacifica);
}

.button-green {
    .button(@apple);
    color: @slate;
}

.button-purple {
    .button(@darkpink);
}

/* Alerts */
.alert {
    display: block;
    font-family: inherit;
    padding: 15px 25px;
    font-size: 20px;
    border: 0;
    border-radius: 4px;
    color: @white;
    .alert-disassemble {
        float: right;
    }
}

.alert-default {
    .alert(@pacifica);
}

@media (max-width: 320px) {
}
