@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,700,300,400);
@import url(https://fonts.googleapis.com/css?family=Raleway:200);

/* Variables */
/* Colors Absent: afternoon */
@white: #fff;
@blue: #1B8FC3;

@green: #72A435;
/*@header: #081E2E;*/
/*@header: #343838;*/
@header: #142531;
@grey: #585858;

@miku: #33989C;
@anchor: #1E9AE;
@orange: #EE591E;

@slate: #556270;
@pacifica: #4ECDC4;

@darkpink: #A4032F;

@red: #E45C57;

@nav-height: 3.5em;
@mobile-nav-height: 2em;
@mobile-nav-spacing: 20px;
@main-spacing: 50px;

/* Mixins */
.clearfix() {
    &:after {
        content:".";
        display: block;
        clear:both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }
}

.transition(@transition) {
    -webkit-transition: @transition;
    -moz-transition: @transition;
    -ms-transition: @transition;
    -o-transition: @transition;
    transition: @transition;
}

.panel(@color) {
    color: @white;
    border-color: @color;
    .panel-header {
        background-color: @color;
        border-color: @color;
    }
    .panel-footer {
        background-color: @color;
        border-color: @color;
    }
}

.cube(@color) {
    @lightcolor: lighten(@color, 40%);
    border: 2px solid @color;
    .cube-header {
        background-color: @color;
    }
    .cube-row {
        border-color: @color;
    }
    .cube-single {
        border-color: @color;
        &:hover {
            background-color: @lightcolor;
        }
    }
}

.button(@color) {
    background-color: @color;
}

.alert(@color) {
    background-color: @color;
}

*, *:after, *:before {
    box-sizing: border-box;
}

.clearfix {
    .clearfix();
}

html, body {
    background-color: @white;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: @orange;
}

h1 {
    color: @blue;
    margin: 0;
}

h2 {
    color: @green;
}

a, p, blockquote {
    font-weight: 400;
}

hr {
    margin-top: 21px;
    margin-bottom: 21px;
    border-top: 1px solid @green;
}

blockquote {
    margin: 16px 0;
    padding-right: 15px;
    padding-left: 0;
    border-right: 3px solid @miku;
    border-left: 0;
    text-align: right;
    display: inline-block;
    small {
        display: block;
        font-size: 80%;
    }
}

.breadcrumb {
    list-style-type: none;
    display: block;
    padding: 10px 15px;
    background-color: rgba(240, 240, 240, 0.8);
    li {
        display: inline-block;
        &+ li:before {
            content: "/\00a0";
            padding: 0 5px;
            color: #ccc;
        }
        a {
            color: @orange;
        } 
    }
}

.image-thumbnail {
    border: 1px solid @slate;
    border-radius: 4px;
    padding: 4px;
    height: 150px;
    width: auto;
}

.disabled {
    pointer-events: none;
    background-color: lighten(@header, 10%);
}

#weather-info {
    font-size: 0.8em;
}

#bus-berg, #bus-ila {
    font-size: 1em;
}

.blog-post {
    margin-bottom: 20px;
    h1 {
        margin-bottom: 0;
        font-size: 2em;
    }
    p {
        font-style: italic;
        font-size: 18px;
    }
}

.blog-post-short {
    h1, h2 {
        margin-bottom: 0;
    }
}


#main-wrapper {
    margin: @nav-height + 1.350em @main-spacing auto;
    h1 {
    }
}

#main-header {
    font-size: 1em;
    text-align: justify;
    letter-spacing: 1px;
    display: block;
    .main-nav {
        position: fixed;
        top:0; right: 0; left: 0;
        background: @header; 
        opacity: 0.9;
        z-index: 9999;
        padding: 0 @main-spacing + 20; /* padding on grid */
        height: @nav-height;
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            line-height: 1;
            .main-nav-item {
                float: left;
                display: inline;
                border-top: 5px solid lighten(@header, 10%);
                .transition(~"all .1s ease-in");
                &:hover {
                    border-top-color: @blue;
                    background-color: lighten(@header, 10%);
                }
                a {
                    font-size: 1em;
                    line-height: @nav-height;
                    display: block;
                    margin-top: -5px; /* negative of border on main-nav-item */
                    padding: 0 20px;
                    text-transform: lowercase;
                    color: @white;
                }
            }
            .main-nav-item-active {
                border-top-color: @blue;
            }
        }
        .nav-right {
            float: right;
        }
    }
}

footer {
    padding-top: 10px;
    padding-bottom: 50px;
}

footer a {
    color: @header;
    .transition(~"color .1s ease-in");
    &:hover {
        color: lighten(@header, 10%);
    }
}

/* Panels */
.panel {
    margin-bottom: 20px;
    background-color: @white;
    border: 1px solid transparent;
}

.panel-default {
    .panel(@blue);
}

.panel-header {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    color: inherit;
}

.panel-body {
    color: #000;
    padding: 15px;
}

.panel-footer {
    padding: 5px 10px;
    border-bottom: 1px solid transparent;
}

/* Buttons */
.button {
    display: inline-block;
    padding: 5px 8px;
    margin-bottom: 3px; /* To get spacing on break */
    color: @white;
    font-size: 15px;
    .transition(~"background-color .1s ease-in");
}

.button-block {
    display: block;
    text-align: center;
}

.button-default {
    .button(@blue);
    &:hover {
        background-color: @orange;
    }
}

.button-red {
    .button(@red);
}

/* Alerts */
.alert {
    display: block;
    font-family: inherit;
    padding: 15px 25px;
    margin-bottom: 3px;
    font-size: 20px;
    border: 0;
    border-radius: 4px;
    color: @white;
    .alert-disassemble {
        float: right;
        &:hover {
            color: @header;
            .transition(~"color .1s ease-in");
        }
    }
}

.alert-default {
    .alert(@blue);
}

.alert-warning {
    .alert(darken(@orange, 5%));
}

.alert-success {
    .alert(@green);
}

.alert-danger {
    .alert(@darkpink);
}

/* Cubes */

.cube {
    margin-bottom: 20px;
    background-color: #fff;
    color: #000;
}

.cube-header {
    padding: 5px 10px;
    border-bottom: 1px solid transparent;
}

.cube-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    text-transform: lowercase;
    text-align: center;
    color: @white;
}

.cube-row {
        padding: 5px;
        text-align: center;
        border-top: 1px solid @white;
}

.cube-single {
    padding: 10px;
    width: 50%;
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
    border-top: 1px solid @white;
    &:first-of-type {
        border-right: 1px solid @white;
    }
    span {
        font-size: 60px;
    }
    .transition(~"background-color .1s ease-in");
}

.cube-container {
    width: 100%;
    display: -webkit-flex;
    display: flex;
}

.cube-default {
    .cube(@blue);
}

/* CV */

#cv-header {
    h1 {
        margin-top: 0;
    }
    h2 {
        margin-top: 10px;
        font-style: italic;
    }
    h1, h2 {
        margin-left: 180px;
    }
}

@media all and (min-width: 769px) {
    #nav-mobile {
        display: none;
    }
}

@media all and (max-width: 768px) {
    #main-wrapper {
        margin: @nav-height + 1.350em auto;
    }
    #weather-temperature {
        font-size: 60px;
        text-align: left;
    }
    #main-header {
      .main-nav {
            padding: 0;
            height: auto;
            ul {
                .main-nav-item {
                    display: block;
                    float: none;
                    width: 100%;
                    a {
                        line-height: @mobile-nav-height;
                    }
                }
            }
            .nav-fullscreen {
                display: none;
            }
            .nav-right {
                float: none;
            }
            #nav-mobile {
                display: block;
                position: relative;
                width: 100%;
                line-height: @nav-height;
                padding-left: @mobile-nav-spacing;
                color: @white;
                background-color: inherit;
                &:after {
                    content: "";
                    background: url('/static/images/mobilenav.svg') no-repeat;
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    top: 1.2em;
                    right: @mobile-nav-spacing - 5px;
                    display: inline-block;
                }
            }
        }
    }
}
