{% extends 'base.html' %}

{% block title %}
{{ block.super }}
&ndash; blogg &ndash; {{ post.title }}
{% endblock %}

{% block body_block %}
<div class="row">
    <div class="col-md-8">
    {% if post %}
        <div class="page-header">
            <h1>{{ post.title }}</h1>
        <small><span class="glyphicon glyphicon-time"></span>  Skrevet den {{ post.posted|date:'d.m.Y'}}</small>
        </div>
        <p class="lead">{{ post.ingress }}</p>
        <hr>
        {{ post.text|safe }}
        <hr>
    {% else %}
        <h1>Denne artikkelen finnes ikke.</h1>
    {% endif%}
    </div>
    {% include 'sidebar.html' %}
</div>
    
{% endblock %}
