{% extends 'base.html' %}

{% block title %}
{{ block.super }}
&ndash; blogg
{% endblock %}

{% block body_block %}
 <div class="row">
        <div class="col-md-8">
                {% if posts %}
                    <div class="main">
                        {% for post in posts %}
                           <section class="post">
                                <h2>{{ post.title }}</h2>
                                <small><span class="glyphicon glyphicon-time"></span>  Skrevet den {{ post.posted|date:'d.m.Y' }}</small>
                                <p class="ingress">
                                   {{ post.ingress|safe }}
                                </p>
                                <a class="btn btn-danger" href="{% url 'post_by_slug' post.posted.year post.posted.month post.posted.day post.title|slugify %}">Les mer</a>
                                {% if not forloop.last %}
                                <hr>     
                                {% endif %}
                           </section>
                       {% endfor %}
                   </div>
                {% else %}
                    <h3>Fant ingen artikler.</h3>
                {% endif %}
        </div>
        {% include 'sidebar.html' %}
</div>
{% endblock %}
