{% extends 'base.html' %}

{% block title %}
{{ block.super }}
&ndash; blogg
{% endblock %}

{% block body_block %}
 <div class="row">
        <div class="col-md-8">
                {% if posts %}
                    <div class="main">
                        {% for post in posts %}
                           <section class="post">
                               <h2>{{ post.title }}<small> {{ post.posted|date:'d.m.Y' }}</small></h2>
                               <div class="well">
                                   {{ post.ingress|safe }}
                               </div>
                               <a class="btn btn-primary" href="{{ post.get_absolute_url }}">Les mer</a>
                           </section>
                       {% endfor %}
                   </div>
                {% else %}
                    <h3>Fant ingen artikler.</h3>
                {% endif %}
        </div>
        {% include 'sidebar.html' %}
</div>
{% endblock %}
