{% extends 'base.html' %}

{% block title %}
{{ block.super }}
&ndash; cv
{% endblock %}

{% block content %}
    <div class="grid cv-grid">
        <div class="unit whole">
            <div class="grid">
                <div class="unit two-thirds">
                    <h1>Håkon Ødegård Løvdal</h1>   
                    <h2><i>Computer science student</i></h2>
                </div>
                <div class="unit one-third">
                    <table class="cv-table">
                        <tbody>
                            <tr>
                                <th>Address</th>
                                <td>Jonsvannsveien 51B</td>
                            </tr>
                            <tr>
                                <th>Date of Birth</th>
                                <td>May 7, 1992</td>
                            </tr>
                            <tr>
                                <th>Phone</th>
                                <td>940 50 008</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- START EDUCATION -->
            <div class="grid">
                <div class="unit whole">
                    <div class="cv-experience">
                        <div class="grid">
                            <div class="unit one-fifth">
                                <h2><span>Education</span></h2>
                            </div>
                            <div class="unit four-fifths">
                                <ul class="cv-experience-list">
                                    <li>
                                        <span>2012 - present</span>
                                        <a href="#"><h3>Norwegian University of Science and Technology</h3></a>
                                        <p>Bachelor in Informatics</p>
                                    </li>
                                    <li>
                                        <span>2008 - 2011</span>
                                        <a href="#"><h3>Nøtterøy Videregående Skoley</h3></a>
                                        <p>Språk, samfunnsfag og økonomi</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END EDUCATION -->
            <!-- START WORK EXPERIENCE -->
             <div class="grid">
                <div class="unit whole">
                    <div class="cv-experience">
                        <div class="grid">
                            <div class="unit one-fifth">
                                <h2><span>Work experience</span></h2>
                            </div>
                            <div class="unit four-fifths">
                                <ul class="cv-experience-list">
                                    <li>
                                        <span>2013, 2014</span>
                                        <a href="#"><h3>Spar Tjøme</h3></a>
                                        <p>Varelassleder etc.</p>
                                    </li>
                                    <li>
                                        <span>2009 - 2011</span>
                                        <a href="#"><h3>Rimi Tjøme</h3></a>
                                        <p>Skiftleder etc</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END WORK EXPERIENCE -->
            <!-- START OTHER EXPERIENCE -->
            <div class="grid">
                <div class="unit whole">
                    <div class="cv-experience">
                        <div class="grid">
                            <div class="unit one-fifth">
                                <h2><span>Other experience</span></h2>
                            </div>
                            <div class="unit four-fifths">
                                <ul class="cv-experience-list">
                                    <li>
                                        <span>2012 - present</span>
                                        <a href="#"><h3>Linjeforeningen for informatikk, Online</h3></a>
                                        <p>Fagkom</p>
                                    </li>
                                    <li>
                                        <span>2014 - present</span>
                                        <a href="#"><h3>Online</h3></a>
                                        <p>Bankom, ekskom etc</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END OTHER EXPERIENCE -->
            <!-- START QUALIFICATIONS -->
             <div class="grid">
                <div class="unit whole">
                    <div class="cv-experience">
                        <div class="grid">
                            <div class="unit one-fifth">
                                <h2><span>Qualifications</span></h2>
                            </div>
                            <div class="unit four-fifths">
                                <ul class="cv-experience-list">
                                    <li>
                                        <h3>Operating systems</h3>
                                        <p>Experienced with <b>OS X</b>, <b>Linux</b> and <b>Windows</b></p>
                                    </li>
                                    <li>
                                        <h3>Technologies</h3>
                                        <ul>
                                            <li>Python</li>
                                            <li>Java</li>
                                            <li>MySQL</li>
                                            <li>JavaScript</li>
                                            <li>HTML</li>
                                            <li>CSS</li>
                                            <li>Django</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h3>Languages</h3>    
                                    </li>
                                    <li>
                                        <h3>I have a driving licence of class B</h3>
                                    </li>
                                    <li>
                                        <h3>References are provided on request</h3>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- END QUALIFICATIONS -->
        </div>
    </div>
{% endblock %}
