header {
    margin-bottom: 20px; 
    vertical-align: middle;
}

.navbar {
    border-radius: 0px;
}

.pageheader .jumbotron {
    margin-bottom: 0px;
}

.page-header {
    margin-top: 0px;
}

.sidebar {
    margin-top: 20px;
}

.sidebar h2 {
    margin-top: 0px;
}

footer {
    margin: 50px 0;
}
