header {
    margin-bottom: 20px; 
    vertical-align: middle;
}

.navbar {
    border-radius: 0px;
}

.stopsign {
    display: block;
    margin: 0 auto 0 auto;
}

.img-thumbnail {
    max-height: 150px;
}

/*
 * BLOG
 */

.ingress {
    margin-top: 7px;
}


/*
 * BEERTASTING
 */

.ratingheader {
    margin-top: 0px;
}

.resultbutton {
    margin-bottom: 15px;
}

.infotext {
    margin-top: 10px;
}

/*
 * FOOTER
 */

footer {
    margin: 50px 0;
}

.well, .navbar-inner, .popover, .btn, .tooltip, input, select, textarea, pre, .progress, .modal, .add-on, .alert, .table-bordered, .nav>.active>a, .dropdown-menu, .tooltip-inner, .badge, .label, .img-polaroid, .breadcrumb, .panel {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    border-collapse: collapse !important;
    background-image: none !important;
 }
