{% extends 'base.html' %}

{% block title %}
{{ block.super }}
&ndash; ølsmaking &ndash; {% if event %}{{ event.name }}{% else %}smaksevent{% endif %}
{% endblock %}

{% block body_block %}
 <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Ølsmaking <small>&dash; {% if event %}{{ event.name }}{% else%}smaksevent{% endif %}</small></h1>
            </div>
        </div>
</div>
<div class="row">
    <div class="col-md-8">
        {% if breadcrumbs %}
        <ol class="breadcrumb">
            {% for name, link in breadcrumbs %}
                {% if not forloop.last %}
                    <li class="active"><a href="{{ link }}">{{ name }}</a></li>
                {% else %}
                    <li class="active">{{ name }}</li>
                {% endif %}
            {% endfor %}
        </ol>
        {% endif %}
        {% if event.finished %}
            <a href="#" class="btn btn-md btn-primary btn-block">Resultat</a>
            <hr>
            {% if ratings %}
                <h3>Dine vurderinger:</h3>
                {% for rating in ratings %}
                    <h4>{{ rating.beer }}, <strong>{{ rating.rating }}</strong></h4>
                    <div class="well well-sm">
                        <p>{{ rating.comment }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <h3>Du har ikke vurdert noen øl under dette arrangementet!</h3>
            {% endif %}
        {% else %}
            {% if beers %}
            <section>
                <h3>Velkommen til ølsmaking!</h3>
                <p>Det er <strong>{{ beers.all|length }}</strong> øl på menyen i dag!</p>
            </section>
            {% endif %}
        {% endif %}
        <hr>
    </div>
    {% include 'beertasting/sidebar.html' %}
</div>
{% endblock %}
