{% extends 'base.html' %}

{% block title %}
{{ block.super }}
&ndash; ølsmaking &ndash; {% if event %}{{ event.name }}{% else %}smaksevent{% endif %}
{% endblock %}

{% block body_block %}
 <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Ølsmaking <small>&dash; {% if event %}{{ event.name }}{% else%}smaksevent{% endif %}</small></h1>
            </div>
        </div>
</div>
<div class="row">
    <div class="col-md-12">
        {% if breadcrumbs %}
            <ol class="breadcrumb">
                {% for name, link in breadcrumbs %}
                    {% if not forloop.last %}
                        <li class="active"><a href="{{ link }}">{{ name }}</a></li>
                    {% else %}
                        <li class="active">{{ name }}</li>
                    {% endif %}
                {% endfor %}
            </ol>
       {% endif %}
   </div>
</div>
<div class="row">
    <div class="col-md-8">
        {% if event.finished %}
            {% if ratings %}
                <h3 class="ratingheader">Dine vurderinger:</h3>
                {% for rating in ratings %}
                    <h4>{{ rating.beer }}:</h4>
                    <div class="well well-sm">
                        Karakter: <strong>{{ rating.rating|floatformat:0 }}</strong>
                        <br/>
                        <br/>
                        {% if rating.comment %}
                        {{ rating.comment }}
                        {% else %}
                        <strong>Du ga ingen kommentar.</strong>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <h3>Du har ikke vurdert noen øl under dette arrangementet.</h3>
            {% endif %}
        {% else %}
            {% if event.beers %}
            <section>
                <h3 class="ratingheader">Velkommen til ølsmaking!</h3>
                <p>Det er <strong>{{ event.beers.all|length }}</strong> øl på menyen i dag.</p>
                {% if ratings %}
                <p>Du har gitt vurdering til <strong>{{ ratings|length }}</strong> øl.</p>
                {% endif %}
            </section>
            {% endif %}
        {% endif %}
    </div>
    {% include 'beertasting/sidebar.html' %}
</div>
{% endblock %}
{% block script_block %}
<script src="/static/js/beertasting.js"></script>
{% endblock %}
