{% extends 'base.html' %}

{% block title %}
{{ block.super }}
&ndash; ølsmaking
{% endblock %}

{% block body_block %}
 <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Ølsmaking <small>&dash; arrangementer</small></h1>
            </div>
        </div>
</div>
<div class="row">
    <div class="col-md-12">
        {% if breadcrumbs %}
        <ol class="breadcrumb">
            {% for name, link in breadcrumbs %}
                {% if not forloop.last %}
                    <li class="active"><a href="{{ link }}">{{ name }}</a></li>
                {% else %}
                    <li class="active">{{ name }}</li>
                {% endif %}
            {% endfor %}
        </ol>
        {% endif %}
        <div class="col-md-6">
        {% if latestevents  %}
        <h3><span class="glyphicon glyphicon-glass"></span> &ndash; Pågående: <small>{{ latestevents.count }} arrangement</small></h3>
            {% for latest in latestevents %}
            <p><a href="{{ latest.get_absolute_url }}">{{ latest.name }}</a> &ndash; {{ latest.beers.count }} øl</br><small>{{ latest.date|date:"h.m.Y" }}</small></p>
            {% endfor %}
        {% else %}
            <h3>Ingen pågående arrangement...</h3>
        {% endif %}
        <hr>
        {% if doneevents %}
        <h3><span class="glyphicon glyphicon-calendar"></span> &ndash; Ferdige: <small>{{ doneevents.count }} arrangement</small></h3>
            {% for event in doneevents %}
            <p><a href="{{ event.get_absolute_url }}">{{ event.name }}</a> &ndash; {{ event.beers.count }} øl</br><small>{{ event.date|date:"h.m.Y" }}</small></p>
            {% endfor %}
        {% else %}
            <h3>Ingen ferdige arrangement...</h3>
        {% endif %}
        <hr>
        </div>
        <div class="col-md-6">
            <h3><i class="fa fa-list-ol"></i> &nbsp;Statistikk:</h3>
            {% if request.user.id %}
            <p><a class="btn btn-danger" href="{% url 'user_ratings' request.user.id %}">Mine vurderinger</a></p>
            {% endif %}
            <p><a class="btn btn-danger" href="{% url 'beer_overall' %}">Topp 10</a></p>
            <p><a class="btn btn-danger" href="{% url 'beer_list' %}">Alle øl</a></p>
        </div>
    </div>
</div>
{% endblock %}
