{% extends 'base.html' %}

{% load filters %}

{% block title %}
{{ block.super }}
&ndash; ølsmaking &ndash; vurdering
{% endblock %}

{% block body_block %}
 <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Ølsmaking <small>&ndash; {% if event.finished %}{% if rating %}{{ rating.beer }}{% else %}detaljer{% endif %}{% else %}vurdering{% endif %}</small></h1>
            </div>
        </div>
</div>
<div class="row">
    <div class="col-md-12">
        {% if breadcrumbs %}
        <ol class="breadcrumb">
            {% for name, link in breadcrumbs %}
                {% if not forloop.last %}
                    <li class="active"><a href="{{ link }}">{{ name }}</a></li>
                {% else %}
                    <li class="active">{{ name }}</li>
                {% endif %}
            {% endfor %}
        </ol>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% if event.finished %}
            {% if rating %}
                <h4 class="ratingheader">Du ga <strong>{{ rating.beer }}</strong> følgende:</h4>
                <div class="well well-sm">
                    Karakter: <strong>{{ rating.rating|floatformat:0 }}</strong>
                    <br/>
                    <br/>
                    {% if rating.comment|length < 1 %}
                    <strong>Du ga ingen kommentar</strong>
                    {% else %}
                    {{ rating.comment }}
                    {% endif %}
                </div>     
            {% else %}
                <h4>Du ga ikke denne ølen noen vurdering.</h4>
            {% endif %}
            <hr>
            {% if comments %}
            <h4>Andre ga følgende:</h4>
            {% for comment in comments %}
                <div class="well well-sm">
                    Karakter: <strong>{{ comment.rating|floatformat:0 }}</strong>
                    <br/>
                    <br/>
                    {% if comment.comment|length < 1 %}
                        <strong>Denne brukeren ga ingen kommentar.</strong>
                    {% else %}
                        {{ comment.comment }}
                    {% endif %}
                </div>
            {% endfor %}
            {% else %}
            <h4>Ingen andre ga noen vurdering.</h4>
            {% endif %}
            <hr>
            <a class="btn btn-danger" href="{% url 'beer_stats' beerid %}">Statistikk</a>

            <hr>
        {% else %}
        <form class="form-horizontal" action="{% url 'beer_rating' event.id beercode %}" method="POST">
                {% csrf_token %}
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-1">Karakter:</label>
                        <div class="col-md-12">
                            <select name="ratingvalue" id="ratingvalue">
                                {% autoescape off %}
                                   {{ rating.rating|print_select_form }}
                                {% endautoescape %}
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-md-1 control-label" for="comment">Kommentar:</label>
                        <div class="col-md-12">
                            {% if rating %}
                                
                                <div class="well well-sm">
                                    {% if rating.comment|length_is:"0" %}
                                        <strong>Du ga ikke denne ølen noen kommentar.</strong>
                                    {% else %}
                                    {{ rating.comment }}
                                    {% endif %}
                                </div>
                            {% else %}
                                <textarea class="form-control" id="comment" name="comment" maxlength=350 rows=5></textarea>
                                {% endif %}
                                <hr>
                                <div class="alert alert-dismissable alert-warning">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    <h4>Advarsel!</h4>
                                    <p>Du kan ikke endre kommentar etter å ha avgitt vurdering, men du kan fortsatt endre karakter.</p>
                                </div>
                        </div>
                    </div>

                {% if rating %}
                <input class="btn btn-lg btn-danger btn-block" type="submit" value="Endre din karakter"/>
                {% else %}
                 <input class="btn btn-lg btn-danger btn-block" type="submit" value="Gi din vurdering"/>
                {% endif %}
                <input type="hidden" name="next" value="{{ next }}">
                </fieldset>
            </form>
            <hr>
                {% if rating %}
                    <small>Sist vurdert: {{ rating.rated|date:"d.m.Y H:i" }}</small>
                    <hr>
                {% endif %}
            {% endif %}
    </div>
    {% include 'beertasting/sidebar.html' %}
</div>
{% endblock %}
