{% load filters %}

<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Ølmeny for {{ request.user.first_name }}:</h3>
        </div>
        <div class="panel-body">
            {% if event.finished %}
                <a href="{% url 'tasting:event_stats' event.id %}" class="btn btn-md btn-danger btn-block resultbutton">Resultat</a>
                {% if event.beers.all|length > 0 %}
                    {% for beer in event.beers.all %}
                    <p><a href="{% url 'tasting:beer_rating' event.id beer.code %}">{{ beer.name}} fra {{ beer.brewery }}</a></p>
                    {% endfor %}
                {% else %}
                {% endif %}
            {% else %}
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ ratings.count|get_percent }}" aria-valuemin="0" aria-valuemax="{{ event.beers.all.count|get_percent }}" style="width: {{ ratings.count|get_how_long:event.beers.all.count }}%">
                        {{ ratings.count|get_how_long:event.beers.all.count }}%
                    </div>
                </div>
                {% if event.beers.all|length > 0 %}
                    {% for beer in event.beers.all|shuffle_beers %}
                        {% autoescape off %}
                        <p>{{ ratings|print_rating_icon:beer.id }} &ndash; <a href="{% url 'tasting:beer_rating' event.id beer.code %}">Ølkode {{ beer.code }}</a></p>
                        {% endautoescape %}
                    {% endfor %}
                {% else %}
                    <p>Ingen øl tilgjengelig..</p>
                {% endif %}
            {% endif %}
            <p class="infotext">Din bruker-ID er: {{ request.user.id }}</p>
        </div>
        {% if user.is_superuser %}
        <div class="panel-heading">
            <h3 class="panel-title">Administrator:<span id="adminbutton"><i class="fa fa-expand"></i></span></h3>
        </div>
        <div class="panel-body adminpanel">
            <a href="{% url 'tasting:event_list' event.id %}" class="btn btn-md btn-danger btn-block">Øloversikt</a>
            <p class="infotext">Event-ID: {{ event.id }}</p>
            {% if beer %}
                <p class="infotext">Øl-ID: <strong>{{ beer.id }}</strong></p>
                <p class="infotext">Øl: <strong>{{ beer }}</strong></p>
            {% endif %}
            <p class="infotext">Dato: {{ event.date|date:"h.m.Y" }}</p>
            <p class="infotext">Antall øl: {{ event.beers.all|length }}</p>
            </div>
        {% endif %}
    </div>
</div>
