{% load filters %}

<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Ølmeny:</h3>
        </div>
        <div class="panel-body">
            {% if event.finished %}
                <a href="{% url 'event_stats' event.id %}" class="btn btn-md btn-primary btn-block resultbutton">Resultat</a>
                {% if event.beers.all|length > 1 %}
                    {% for beer in event.beers.all %}
                    <p><a href="{% url 'beer_rating' event.id beer.code %}">{{ beer.name}} fra {{ beer.brewery }}</a></p>
                    {% endfor %}
                {% else %}
                    <p>Ingen øl tilgjengelig..</p>
                {% endif %}
            {% else %}
                <div class="progress progress-striped active">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ ratings.count|get_percent }}" aria-valuemin="0" aria-valuemax="{{ event.beers.all.count|get_percent }}" style="width: {{ ratings.count|get_how_long:event.beers.all.count }}%">
                        <span class="sr-only">{{ ratings.count|get_how_long:event.beers.all.count }}% Complete</span>
                    </div>
                </div>
                {% if event.beers.all|length > 1 %}
                    {% for beer in event.beers.all|shuffle_beers %}
                        {% autoescape off %}
                        <p>{{ ratings|print_rating_icon:beer.id }} &ndash; <a href="{% url 'beer_rating' event.id beer.code %}">Ølkode {{ beer.code }}</a></p>
                        {% endautoescape %}
                    {% endfor %}
                {% else %}
                    <p>Ingen øl tilgjengelig..</p>
                {% endif %}
            {% endif %}
        </div>
        {% if user.is_superuser %}
        <div class="panel-heading">
            <h3 class="panel-title">Administrator:</h3>
        </div>
        <div class="panel-body">
            <a href="{% url 'event_list' event.id %}" class="btn btn-md btn-warning btn-block">Øloversikt</a>
            <p class="infotext">Event-ID: {{ event.id }}</p>
            <p class="infotext">Dato: {{ event.date|date:"h.m.Y" }}</p>
            <p class="infotext">Antall øl: {{ event.beers.all|length }}</p>
        </div>
        {% endif %}
    </div>
</div>
