{% load filters %}

<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Oversikt</h3>
        </div>
        <div class="panel-body">
            {% if event.finished %}
                {% if event.beers.all|length > 1 %}
                    {% for beer in event.beers.all %}
                    <p><a href="{% url 'beer_rating' event.id beer.code %}">{{ beer.name}} fra {{ beer.brewery }}</a></p>
                    {% endfor %}
                {% else %}
                    <p>Ingen øl tilgjengelig..</p>
                {% endif %}
            {% else %}
                {% if event.beers.all|length > 1 %}
                    {% for beer in event.beers.all|shuffle_beers %}
                        {% autoescape off %}
                        <p>{{ ratings|print_rating_icon:beer.id }} &ndash; <a href="{% url 'beer_rating' event.id beer.code %}">Ølkode {{ beer.code }}</a></p>
                        {% endautoescape %}
                    {% endfor %}
                {% else %}
                    <p>Ingen øl tilgjengelig..</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
