{% extends 'base.html' %}

{% load filters %}

{% block title %}
{{ block.super }}
&ndash; ølsmaking &ndash; {% if event %}{{ event.name }}{% else %}smaksevent{% endif %}
{% endblock %}

{% block body_block %}
 <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Ølsmaking <small>&dash; {% if event %}{{ event.name }}{% else%}smaksevent{% endif %}</small></h1>
            </div>
        </div>
</div>
<div class="row">
    <div class="col-md-8">
        {% if breadcrumbs %}
        <ol class="breadcrumb">
            {% for name, link in breadcrumbs %}
                {% if not forloop.last %}
                    <li class="active"><a href="{{ link }}">{{ name }}</a></li>
                {% else %}
                    <li class="active">{{ name }}</li>
                {% endif %}
            {% endfor %}
        </ol>
        {% endif %}
        <h3>Resultater:</h3>
        <div class="panel panel-default">
            <div class="panel-heading">Oversikt</div>
            <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Øl</th>
                        <th>Snitt</th>
                        <th>Bryggeri</th>
                        <th>Type</th>
                        <th>ABV</th>
                        <th>IBU</th>
                    </tr>
                </thead>
                <tbody>
                    {% for beer in beers %}
                        <tr>
                            <td>{{ beer.id }}</td>
                            <td><a href="{% url 'beer_rating' event.id beer.code %}">{{ beer.name }}</a></td>
                            <td><strong>{{ ratings|get_average_score:beer.id }}</strong></td>
                            <td>{{ beer.brewery }}</td>
                            <td>{{ beer.style }}</td>
                            <td>{{ beer.abv }}</td>
                            <td>{{ beer.ibu }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
    {% include 'beertasting/sidebar.html' %}
</div>
{% endblock %}
