{% extends 'base.html' %}

{% block content %}
    <div class="grid">
        <div class="unit two-thirds">
            <div class="grid">
                {% if object_list.all.count < 1 %}
                    <h1>You have no movies in your collection</h1>
                {% else %}
                    {% for movie in object_list %}
                        <div class="unit one-third">
                            <a class="movie-poster-thumbnail" href="{% url 'movies:movie_detail' movie.movie.slug %}"><img alt="{{ movie.movie.title }}" src="{{ movie.movie.poster_url }}" style="width: 230px; height: 325px"></a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="grid">
                <div class="unit whole">
                     <form class="search-form" action="{% url 'movies:movie_search' %}" method="GET">
                        <div>
                            <input type="text" id="q" name="q" placeholder="Search in the collection...">
                        </div>
                        <div class="submit">
                            <input class="button button-default" type="submit" value="Search collection">
                        </div>
                    </form> 
                    <form class="search-form" action="{% url 'movies:movie_search_imdb' %}" method="GET">
                        <div>
                            <input type="text" id="q" name="q" placeholder="Search in IMDb...">
                        </div>
                        <div class="submit">
                            <input class="button button-default" type="submit" value="Search IMDb">
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="unit one-third">
            <div class="cube cube-default">
                <div class="cube-header">
                    <h1 class="cube-title">Movies</h1>
                </div>
                <div class="cube-body">
                    <div class="cube-container">
                        <div class="cube-single">
                            <span>{{ movies }}</span><br>
                            movies
                        </div>
                        <div class="cube-single">
                            <span>{{ unseen }}</span><br>
                            unseen
                        </div>
                    </div>
                </div>
            </div>
            <a href="{% url 'movies:movie_browse' %}" class="button button-default">Browse collection</a><br>
            <a href="#" class="button button-default">Watchlist</a>
        </div>
    </div>
{% endblock %}
