{% extends 'base.html' %}

{% block content %}
    <div class="grid">
        <div class="unit whole">
            <form class="form" action="{% url 'movies:movie_search_imdb' %}" method="GET">
                <div>
                    <input type="text" id="q" name="q" placeholder="Search for a movie...">
                </div>
                <div class="submit">
                    <input class="button button-default" type="submit" value="Search">
                </div>
            </form>
            <h2>IMDb search result for query "{{ query }}"</h2>
            <div class="table-responsive">
                <table class="beer-table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Year</th>
                            <th>Type</th>
                            <th>Add to collection</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for movie in movies %}
                            <tr>
                                <td>{{ movie.Title }}</td>
                                <td>{{ movie.Year }}</td>
                                <td>{{ movie.Type }}</td>
                                <td style="text-align: center"><a href="{% url 'movies:movie_add_imdb' movie.imdbID %}" class="button button-default">Add</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
