{% extends 'base.html' %}

{% block content %}
    <div class="grid">
        <div class="unit whole">
            <h2>Collection search result for query "{{ query }}"</h2>
            <div class="table-responsive">
                <table class="beer-table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>IMDb</th>
                            <th>Watched</th>
                            <th>Added</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in results %}
                            <tr>
                                <td><a href="{% url 'movies:movie_detail' result.movie.slug %}">{{ result.movie.title }}</a></td>
                                <td>{{ result.movie.rating }}</td>
                                <td>{% if result.seen %}Yes{% else %}No{% endif %}</td>
                                <td>{{ result.added }}</td>
                                <td><a class="button button-default" href="{% url 'movies:movie_detail' result.movie.slug %}">Details</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="grid">
            <div class="unit whole">
                <form class="search-form" action="{% url 'movies:movie_search' %}" method="GET">
                    <div>
                        <input type="text" id="q" name="q" placeholder="Search in collection...">
                    </div>
                    <div class="submit">
                        <input class="button button-default" type="submit" value="Search collection">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
