{% extends 'base.html' %}

{% block title %}
{{ block.super }}
&ndash; registrer ny bruker
{% endblock %}

{% block body_block %}
{{ block.super }}
<div class="row">
    <div class="col-md-8">
        <div class="page-header">
            <h1>Registrer ny bruker</h1>
        </div>
        <div class="col-md-12"> 
            <form class="form-horizontal" action="{% url 'registration:new_user' %}" method="POST">
                {% csrf_token %}
<fieldset>

<!-- Text input-->
<div class="form-group">
<label class="col-md-2 control-label" for="firstname">Fornavn:</label>  
<div class="col-md-6">
<input id="firstname" name="firstname" type="text" placeholder="Skriv inn ditt fornavn..." class="form-control input-md" required="">

</div>
</div>

<!-- Text input-->
<div class="form-group">
<label class="col-md-2 control-label" for="lastname">Etternavn:</label>  
<div class="col-md-6">
<input id="lastname" name="lastname" type="text" placeholder="Skriv inn ditt etternavn..." class="form-control input-md" required="">

</div>
</div>

<!-- Text input-->
<div class="form-group">
<label class="col-md-2 control-label" for="username">Brukernavn:</label>  
<div class="col-md-6">
<input id="username" name="username" type="text" placeholder="Skriv inn ønsket brukernavn..." class="form-control input-md" required="">

</div>
</div>

<!-- Text input-->
<div class="form-group">
<label class="col-md-2 control-label" for="email">Epost:</label>  
<div class="col-md-6">
<input id="email" name="email" type="email" placeholder="Skriv inn din epost-adresse..." class="form-control input-md" required="">

</div>
</div>

<!-- Password input-->
<div class="form-group">
<label class="col-md-2 control-label" for="password1">Passord:</label>
<div class="col-md-6">
<input id="password1" name="password1" type="password" placeholder="Skriv inn ditt passord..." class="form-control input-md" required="">

</div>
</div>

<!-- Password input-->
<div class="form-group">
<label class="col-md-2 control-label" for="password2">Gjenta passord:</label>
<div class="col-md-6" id="errormsg">
<input id="password2" name="password2" type="password" placeholder="Gjenta ditt passord..." class="form-control input-md" required="">

</div>
</div>

<!-- Button -->
<div class="form-group" id="createuser">
<label class="col-md-2 control-label" for="createuser">Lag bruker:</label>
<div class="col-md-4">
    <input class="btn btn-danger" type="submit" value="Registrer"/>
</div>
</div>

<input type="hidden" name="next" value="{{ next }}"/>
</fieldset>
</form>
         </div>                                          
    </div>
    <div class="col-md-4">
        {% if errors %}
            {% for error in errors %}
            <h4>{{ error }}</h4>
            {% endfor %}
        {% endif %}
    </div>
    {% include 'sidebar.html' %}
</div>
<script src="/static/js/register.js"></script>
{% endblock %}
