{% extends 'base.html' %}

{% block title %}
{{ block.super }}
&ndash; hjem
{% endblock %}

{% block body_block %}
<div class ="row">
    <div class="col-md-8">
        <div class="jumbotron">
            <h1>Hei du!</h1>
            <p>Velkommen til hakloevs lekeplass.</p>
        </div>
        {% if posts %}
        <div class="row">
            {% if posts|length = 3 %}
                {% for post in posts %}
                    <div class="col-md-4">
                    <section class="post">
                        <h2>{{ post.title }}</h2>
                        <small><span class="glyphicon glyphicon-time"></span>  Skrevet den {{ post.posted|date:'d.m.Y' }}</small>
                        <p class="ingress">
                            {{ post.ingress|safe }}
                        </p>
                        <a class="btn btn-danger" href="{% url 'post_by_slug' post.posted.year post.posted.month post.posted.day post.title|slugify %}">Les mer</a>
                     </section>
                     <hr>
                    </div>
                {% endfor %}
            {% elif posts|length = 2 %}
                {% for post in posts %}
                <div class="col-md-6">
                <section class="post">
                    <h2>{{ post.title }}</h2>
                    <small><span class="glyphicon glyphicon-time"></span>  Skrevet den {{ post.posted|date:'d.m.Y' }}</small>
                    <p class="ingress">
                        {{ post.ingress|safe }}
                    </p>
                    <a class="btn btn-danger" href="{% url 'post_by_slug' post.posted.year post.posted.month post.posted.day post.title|slugify %}">Les mer</a>
                </section>  
                <hr>
                </div>
                {% endfor %}
            {% elif posts|length = 1 %}
                {% with posts|first as post %}
                <div class="col-md-12">
                <section class="post">
                    <h2>{{ post.title }}</h2>
                    <small><span class="glyphicon glyphicon-time"></span>  Skrevet den {{ post.posted|date:'d.m.Y' }}</small>
                    <p class="ingress">
                        {{ post.ingress|safe }}
                    </p>
                    <a class="btn btn-danger" href="{% url 'post_by_slug' post.posted.year post.posted.month post.posted.day post.title|slugify %}">Les mer</a>
                </section>  
                <hr>
                </div>
                {% endwith %}
            {% endif %}
        </div>
        {% else %}
        <div class="jumbotron">
            <h1>Det er ikke skrevet noen innlegg...</h1>
            <p>Må skjerpe meg og sette igang...</p>
        </div>
        {% endif %}
    </div>
    {% include 'sidebar.html' %}
</div>
{% endblock %}
