{% extends 'base.html' %}

{% block title %}
{{ block.super }}
&ndash; hjem
{% endblock %}

{% block header_block %}
<div class="pageheader">
    <div class="row">
        <div class="col-md-12">
            <section class="jumbotron">
                <h1>loevdal.net</h1>
                <p>woopedy woop</p>
            </section>
        </div>
    </div>
</div>
{% endblock %}



{% block body_block %}
<div class ="row">
    <div class="col-md-8">
        {% if post %}
        <section class="blogpost">
            <h1>{{ post.title }}</h1>
            <small>{{ post.posted|date:"d.m.Y" }}</small>
            <p>{{ post.ingress }}</p> 
            {{ post.text|safe }}
        </section>     
        {% else %}
        <div class="jumbotron">
            <h1>Det er jo ikke skrevet noe innlegg...</h1>
            <p>Må skjerpe meg og sette igang...</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
