<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">loevdal.net</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {% if request.path = '/' %}class="active"{% endif %}><a href="/">Hjem</a></li>
                <li {% if '/cv/' in request.path %}class="active"{% endif %}><a href="/cv/">CV</a></li>
                <li {% if '/blog/' in request.path %}class="active"{% endif %}><a href="/blog/archive/{% now "Y" %}">Blogg</a></li> 
                <li {% if '/beertasting/' in request.path %}class="active"{% endif %}><a href="/beertasting/">Ølsmaking</a></li>
            </ul>
            <div class="navbar-inner navbar-right">
            {% if user.is_authenticated %}
                <p class="navbar-text">Hei, {{ user.first_name }}!</p>
                <ul class="nav navbar-nav">
                    {% if user.is_superuser %}
                    <li><a href="/admin/">Admin</a></li>
                    {% endif %}
                </ul>
                <form class="navbar-form navbar-right" action="{% url 'auth_logout' '/' %}">
                    <fieldset>
                        <div class="form-group">
                            <button class="btn btn-danger" type="submit">Logg ut</button>
                        </div>    
                    </fieldset>
                </form>    
            {% else %}
            <form class="navbar-form" action="{% url 'django.contrib.auth.views.login' %}?next={{ request.path }}" method="post">
                {% csrf_token %}
                <fieldset>
                    <div class="form-group">
                        <input class="form-control" placeholder="Brukernavn" name="username" type="text" size="12">   
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Passord" name="password" type="password" value="" size="12">   
                    </div>
                    <button class="btn btn-danger" type="sumbit">Logg Inn</button>
                    <input type="hidden" name="next" value="{{ next }}">
                </fieldset>
            </form>
            {% endif %}
            </div>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>
