<div class="col-md-4">
    <div class="sidebar">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Om meg</h4>
            </div>
            <div class="panel-body">
                panel stuff
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">Sosialt</h4>
            </div>
            <div class="panel-body">
                <ul class="fa-ul">
                    <li><a href="https://www.linkedin.com/profile/view?id=262626177"><i class="fa-li fa fa-linkedin-square"></i>Linkedin</a></li>
                    <li><a href="https://www.facebook.com/hakloev"><i class="fa-li fa fa-facebook-square"></i>Facebook</a>
                
                    <li><a href="https://www.twitter.com/hakloevdal"><i class="fa-li fa fa-twitter-square"></i>Twitter</a>
                    <li><a href="https://www.github.com/hakloev"><i class="fa-li fa fa-github-square"></i>GitHub</a>
                </ul>
            </div>
        </div>
        <div class="well">
            <h4>Apps</h4>
        </div>
    </div>
</div>
