{% extends 'base.html' %}

{% block title %}
{{ block.super }}
&ndash; blogg &ndash; {{ post.title }}
{% endblock %}

{% block body_block %}
<div class="row">
    <div class="col-md-8">
    {% if post %}
        <div class="page-header">
            <h1>{{ post.title }} <small> &dash; {{ post.posted|date:'d.m.Y'}}</small></h1>
        </div>
        <h4>{{ post.ingress }}</h4>
        <hr>
        {{ post.text|safe }}
    {% else %}
        <h1>Finnes ikke...</h1>
    {% endif%}
    </div>
</div>
    
{% endblock %}
