{% extends 'base.html' %}

{% block title %}
{{ block.super }}
&ndash; {{ post.title }}
{% endblock %}

{% block body_block %}
    {% if post %}
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ post.title }}
            </div>
            <div class="panel-body">
                {{ post.text|safe }}
            </div>
            <div class="panel-footer">
                Skrevet den {{ post.posted|date:'d.m.Y' }}
            </div>
        </div>
    {% else %}
        <h1>Finnes ikke...</h1>
    {% endif%}
    
{% endblock %}
