{% extends 'base.html' %}

{% block title %}
{{ block.super }}
&ndash; blogg
{% endblock %}

{% block body_block %}
 <div class="row">
        <div class="col-md-8">
            <div class="page-header">
                <h1>Innlegg <small>&dash; weee</small></h1>
                {% if user.is_authenticated %}
                <a href="/blog/newpost/" class="btn btn-sm btn-primary">Skriv nytt innlegg</a> 
                {% endif %}
            </div>
                {% if posts %}
                    <section class="main">
                        {% for post in posts %}
                           <div class="post">
                               <h2><a href={{ post.get_absolute_url }}>{{ post.title }}</a><small> {{ post.posted|date:'d.m.Y' }}</small></h2>
                               <div class="well">
                                   <p>{{ post.ingress|safe }}</p>
                               </div>
                           </div>
                       {% endfor %}
                   </section>
                {% else %}
                    <h3>Ingen har skrevet noe i denne bloggen..</h3>
                {% endif %}
    </div>
</div>
{% endblock %}
