{% extends 'base.html' %}

{% block title %}
{{ block.super }}
&ndash; blog
{% endblock %}

{% block content %}
 <div class="grid">
        <div class="unit two-thirds">
            {% if posts %}
                    {% for post in posts %}
                        <section class="blog-post-short">
                            <h1>{{ post.title }}</h1>
                            <small><i class="fa fa-clock-o"></i>&nbsp; Written {{ post.posted|date:'d.m.Y' }}</small>
                            <p>
                               {{ post.ingress|safe }}
                            </p>
                            <a class="button button-default" href="{% url 'blog:post_by_slug' post.posted.year post.posted.month post.posted.day post.title|slugify %}">Read more</a>
                        </section>
                   {% endfor %}
            {% else %}
                <h1>No articles found</h1>
            {% endif %}
        </div>
        <div class="unit one-third">
            <div class="cube cube-default">
                <div class="cube-header">
                    <h1 class="cube-title">All Categories</h1>
                </div>
                <div class="cube-body">
                    <div class="cube-row">
                        {% for category in categories.all %}
                            <a href="{% url 'blog:category_by_slug' category.title|slugify %}">{{ category.title }}</a></br>
                        {% endfor %}
                    </div>
                </div>
            </div> 
        </div>
    </div>
{% endblock %}

{% block scriptblock %}
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'loevdalnet'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
var s = document.createElement('script'); s.async = true;
s.type = 'text/javascript';
s.src = '//' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
{% endblock %}
