{% extends 'base.html' %}

{% block title %}
{{ block.super }}
&ndash; blogg
{% endblock %}

{% block body_block %}
    {% if posts %}
    <div class="row">
        <div class="col-md-8">
            <section class="main">
            {% for post in posts %}
               <div class="post">
                    <h1><a href={{ post.get_absolute_url }}>{{ post.title }}</a></h1>
                    <h6>Skrevet den {{ post.posted|date:'d.m.Y' }}</h6>
               <div class="well">
                   <p>{{ post.ingress|safe }}</p>
               </div>
           </div>
           {% endfor %}
           </section>
       </div>
    </div>
    {% else %}
        <h3>Ingen har skrevet noe i denne bloggen..</h3>
    {% endif %}
{% endblock %}
