{% extends 'base.html' %}

{% block title %}
{{ block.super }}
&ndash; hjem
{% endblock %}

{% block body_block %}
<div class ="row">
    <div class="col-md-8">
        <div class="row">
            <section class="jumbotron">
                <h1>placeholder</h1>
            </section>
        </div>
    </div>
    {% include 'front/sidebar.html' %}
</div>
{% endblock %}

{% block script_block %}
    <script src="/static/js/weather.js"></script>
    <script src="/static/js/bus.js"></script>
{% endblock %}
