<div class="col-md-4">
    <div class="sidebar">
        <!-- VÆRPANEL -->
        <div class="panel panel-danger" id="weatherpanel" style="">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-sun-o fa-fw"></i>&nbsp; Været<span id="weatherlocation"></span></h3>
            </div>
            <div class="panel-body weatherwidget">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div id="temp"></div>
                    </div>
                </div>
                <div class="row weatherinfo">
                    <div class="col-xs-8 col-md-8" id="winfo">
                        <div id="windspeed"></div>
                        <div id="windstrength"></div>
                        <div id="rain"></div>
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <img id="weathericon"></img>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div id="forecast"><h3 style="text-align: center">Laster været... &nbsp;<i class="fa fa-circle-o-notch fa-spin"></i>
</h3></div>
                        <div id="weatherrights"><small>&copy; Værvarsel fra yr.no, levert av Meteorologisk institutt og NRK</small></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- OM PANEL -->
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list-ul fa-fw"></i>&nbsp; Om meg</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6 pull-left">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-check-square fa-fw"></i>&nbsp; Helt sjef</li>
                            <li><i class="fa fa-check-square fa-fw"></i>&nbsp; Student</li>
                            <li><i class="fa fa-check-square fa-fw"></i>&nbsp; Ølbrygger</li>
                            <li><i class="fa fa-check-square fa-fw"></i>&nbsp; 22 år</li>
                            <li id="weatherbutton"><i class="fa fa-check-square fa-fw"></i>&nbsp; Tjømling</li>
                        </ul>
                    </div>
                    <div class="col-md-6 pull-right">
                        <img class="img-thumbnail pull-right" src="/static/images/me.jpg"></img>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                        <blockquote>
                            "Mister I ain't a boy, no I'm a man,
                            and I believe in a promised land"
                            <small>Bruce Springsteen</small>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <!-- BUSSPANEL -->
        <div class="panel panel-danger" id="buspanel">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bus fa-fw"></i>&nbsp; Avganger, linje 5</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div id="busloading"><h3 style="text-align: center">Laster ruteinfo... &nbsp;<i class="fa fa-circle-o-notch fa-spin"></i></h3></div>
                    <div class="col-md-6 pull-left">
                        <div id="busberg">
                            <span><b id="bergname"></b></span>
                            <ul class="list-unstyled" id="busberglist">
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 pull-left">
                        <div id="busila">
                            <span><b id="ilaname"></b></span>
                             <ul class="list-unstyled" id="busilalist">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
