<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">  
        <meta name="author" content="Håkon Ødegård Løvdal">
        <meta name="description" content="hakloev.no is the personal website of Håkon Ødegård Løvdal, a informatics student at NTNU">
        <meta name="keywords" content="hakloev, ntnu, informatics, cv, håkon, løvdal, personal">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet/less" type="text/css" href="/static/css/less/style.less">
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/grid.css">
        <script type="text/javascript">less = { env:'development' }</script>
        <script src="/static/js/less-2.0.0-b2.min.js" type="text/javascript"></script>
        <title>{% block title %}hakloev.no {% endblock %}</title>
    </head>
    <body>
        {% include 'nav.html' %}
        <div id="main-wrapper">
            <div class="grid">
                <div class="unit whole">
                    <div class="alert alert-default">
                        This is a motherfucking alert
                        <a class="alert-disassemble" href="#"><i class="fa fa-times-circle"></i></a>
                    </div>
                </div>
            </div>
            <section id="main-container" class="grid">
                <h1 class="unit whole">Hello.</h1>
                <hr>
            </section>
            <div class="grid">
                <div class="unit one-third">
                    <div class="panel panel-default">
                        <div class="panel-header">
                            <h1 class="panel-title" id="weather-location"></h1>
                        </div>
                        <div class="panel-body">
                            <div class="grid">
                                <div class="unit half">
                                    <img id="weather-icon"></img>
                                </div>
                                <div class="unit half">
                                    <div id="weather-temperature"></div>
                                </div>
                            </div>
                            <div id="weather-windspeed"></div>
                            <div id="weather-windstrength"></div>
                            <div id="weather-rain"></div>
                            <div id="weather-forecast"></div>
                        </div>
                        <div class="panel-footer">
                            <small id="weather-copyright"></small>
                        </div>
                    </div>
                </div>
                <div class="unit one-third">
                    <a href="#" class="button button-blue">blue</a>
                    <a href="#" class="button button-default">default</a>
                    <a href="#" class="button button-green">green</a>
                    <a href="#" class="button button-purple">purple</a>
                    <div class="panel panel-green">
                        <div class="panel-header">
                            <h1 class="panel-title"><i class="fa fa-bus"></i>&nbsp;Bus departures</h1>
                        </div>
                        <div class="panel-body">
                            <div id="busloading"></div>
                            <div class="grid">
                                <div class="unit half">
                                    <div id="bergname"></div>
                                    <div id="busberglist" style="list-style-type: none"></div>
                                </div>
                                <div class="unit half">
                                    <div id="ilaname"></div>
                                    <div id="busilalist" style="list-style-type: none"></div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <small>Dep. for route 5, to the city center, RT is realtime</small>
                        </div>
                    </div>
                </div>
                <div class="unit one-third">
                    {% include 'header.html' %}                    
                    <div class="panel panel-purple">
                        <div class="panel-header">
                            <h1 class="panel-title">Panel title</h1>
                        </div>
                        <div class="panel-body">
                            <p>panel content here</p>
                        </div>
                        <div class="panel-footer">
                            <small>Panel footer</small>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'footer.html' %}
        </div>
        <script src="https://code.jquery.com/jquery-2.0.3.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            $('.alert-disassemble').on('click', function(e){
                e.preventDefault();
                $(this).parent().fadeOut(200);
            });
        </script>
        {% block scriptblock %}
        {% endblock %}
    </body>
</html>





<!-- {% block message_block %}
                {% if messages %}
                <div class="row">
                    <div class="col-md-12">
                        {% for message in messages %}
                            <div class="alert alert-dismissable alert-{{ message.tags }}">
                                <button type="button" class="close" data-dismiss="alert">x</button>
                                <p>{{ message }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% endblock %} -->

