{% extends 'base.html' %}

{% block title %}
{{ block.super }}
&ndash; test
{% endblock %}

{% block body_block %}
    {% if post %}
        <div class="jumbotron">
            <h1>{{ post.title }}</h1>
            <p>{{ post.ingress }}</p>
            <p><a class="btn btn-primary btn-lg" role="button" href="{{ post.get_absolute_url }}">Les mer</a> </p>
        </div>
    {% else %}
        <div class="jumbotron">
            <h1>Ingen innlegg skrevet...</h1>
            <p>Noen burde piske meg til å skrive et innlegg...</p>
        </div>
    {% endif %}

{% if user.is_authenticated %}
<h1>Hei {{ user.username }}</h1>
{% endif %}
{% endblock %}
